{:tasks
 {release {:depends [clean mkdir copy-static publish-css publish-js]}
  clean (shell "rm -rf docs")
  mkdir (shell "mkdir -p docs")
  copy-static (shell "cp -r public/. docs/")
  publish-js (clojure "-M:release")
  publish-css (shell "npm run build:css")
  dev {:task (run '-dev {:parallel true})}
  -dev {:depends [dev:css dev:shadow]}
  dev:css {:doc "tailwindcss watch"
           :task (shell "npm run watch:css")}
  dev:shadow {:doc "shadow-cljs dev"
              :task (clojure "-M:dev")}}}
