{:tasks
 {clean (shell "rm -rf docs")
  mkdir (shell "mkdir -p docs")
  copy-static (shell "cp -r public/. docs/")
  publish-js (clojure "-M:release")
  release {:depends [clean mkdir copy-static publish-js]}}}
