{:tasks
 {clean (shell "rm -rf page")
  mkdir (shell "mkdir -p page")
  copy-static (shell "cp -r public/. page/")
  publish-js (clojure "-M:release")
  release {:depends [clean mkdir copy-static publish-js]}}}
