{:paths ["src"]
 :deps {thheller/shadow-cljs     {:mvn/version "3.1.7"}
        reagent/reagent          {:mvn/version "2.0.1"}
        cider/cider-nrepl        {:mvn/version "0.58.0"}}
 :aliases
 {:dev {:main-opts ["-m" "shadow.cljs.devtools.cli" "watch" "app"]}}}
